::selection {
    text-shadow: none;
    color: #fff;
    background: #008080;
}

header, footer {
	color: #fff;
	background-color: #008080;
	text-align: center;
}

header {
	height: 100px;
	padding: 17px 0;
}

header .container {
	margin: auto;
}

header .title, header .sub-title {
	margin: 0px;
	padding: 0px;
}
header .title{
	text-transform: uppercase;
}

footer {
	height: 50px;
	padding: 17px 0;
}


#main {
	margin: 10px 0;
}